// Specific CSS for your home-page
.navbar {
  justify-content: space-between;
  background: white;
  margin-top: -3px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.search {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  opacity: 10;
  transition: opacity 0.3s ease;
}

.date-to {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  opacity: 10;
  transition: opacity 0.3s ease;
}

.btn-ghost {
  color: black;
  border: 5px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  margin: 10px 10px 10px 30px;
  background: #1EDD88;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.button {
  padding: 8px 16px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  margin: 50px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  display: grid;
  grid-gap: 20px;

}


.cards a:link {
    text-decoration:none;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
