
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.happystubai.com/wp-content/uploads/2017/06/Happy-Stubai-Hotel-Neustift-Tirol-Stubaier-Gletscher-%C3%96sterreich-Hostel-Biking-Aktivurlaub-10.jpg);">
      <div class="container">
        <h1>Rent a Bike Anywhere in Morocco, Anytime </h1>
        <p>Renting a bike has never been easier</p>

<div class="container">

<form>
  <div class="wrapper">

    <div class="search-container">
      <input type="text" class="search" placeholder="Type of bike...">
      <input type="text" class="date-to" placeholder="Location...">

    </div>
  </div>
</form>
</div>

        <a class="btn btn-ghost" href="#">Let's ride!</a>

      </div>
    </div>




    <div class="cards">
     <a href="/bikes">

      <div class="d-flex">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.canyon.com/on/demandware.static/-/Sites-canyon-master/default/dwac7a192b/images/full/full_2021_/2021/full_2021_spectral-5_2674_tq-bk_P5.png)">
        Mountain bike
        </div>

       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.canyon.com/on/demandware.static/-/Sites-canyon-master/default/dw39c73bb2/images/full/full_2021_/2021/full_2021_endurace-7_2942_bk-bk_P5.png)">
        Road bike
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.kunstform.org/images/wethepeople-Arcade-2021-BMX-Rad-Matt-Black-20-5-TT--20201020135425-1.jpg)">
        BMX
        </div>
      </div>

     </a>
    </div>


    <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Website powered by Z triple A <i class="fas fa-heart"></i>
  </div>
</div>








              <%# <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                <div class="search-form-control form-group">
                  <input class="form-control string required" type="text" name="search[query]" id="search_query" />
                    <button name="button" type="submit" class="btn btn-flat">
                      <i class="fas fa-search"></i> Search
                    </button>
                </div>
                </form> %>
