.search-container {

    .form-control {
        width: 30%;
        
    }
    .btn-primary {
            color: black;
            border: 5px solid black;
            padding: 8px 24px;
            border-radius: 50px;
            font-weight: bold;
            margin: 10px 10px 10px 30px;
            background: #1EDD88;
            transition: opacity 0.3s ease;
          }
          
          :hover {
            opacity: 1;
          }
        }
