 .btn-ghostt {
    color: black;
    border: 5px solid black;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px 10px 10px 30px;
    background: #1EDD88;
    transition: opacity 0.3s ease;


  :hover {
    opacity: 1;
  }
}
  .container-body {
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    h1 {
        text-align: justify;
        font-size: 15px;
        background-color: white;
        font-style: bold;

    }
    .bike-img {
        padding: 15px;
        margin-left: 100px;
    }

}
