.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    :hover {
        opacity: 1;
      }
  }
   
  .container-body {
    
    margin: 0;
    color: black;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    h1 {
        text-align: justify;
        letter-spacing: 3px;
        font-size: 15px;
        background-color: white;
    } 
    #image_tag {
        border-radius: 8px;
    }
      
}

  